@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply w-full scroll-smooth;
    font-family: ProductSans, system-ui, sans-serif;
  }

  body {
    @apply dark:bg-dark bg-light;
  }

  .card {
    @apply dark:bg-dark-card bg-light-card rounded-xl drop-shadow-xl;
  }

  .input {
    @apply border rounded-md shadow-sm dark:bg-zinc-700 dark:text-white placeholder-slate-400 focus:outline-none focus:border-dark-primary focus:ring-1 focus:ring-dark-primary;
  }
}

@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/Product-Sans/PRODUCT-SANS-REGULAR.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Regular.woff') format('woff');
}
